<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ClasshisMapper">
	
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into STU_CLASSHIS(
			CLASS_NAME,	
			DESCRIPTION,	
			TUITION,	
			TEACHER_ID,	
			TEACHER_NAME,	
			CREATE_USER_ID,	
			CREATE_TIME,	
			CLASSINFO_ID,	
			PARENT_CLASSINFO_ID,	
			CLASSHIS_ID
		) values (
			#{CLASS_NAME},	
			#{DESCRIPTION},	
			#{TUITION},	
			#{TEACHER_ID},	
			#{TEACHER_NAME},	
			#{CREATE_USER_ID},	
			#{CREATE_TIME},	
			#{CLASSINFO_ID},	
			#{PARENT_CLASSINFO_ID},	
			#{CLASSHIS_ID}
		)
	</insert>
	
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from STU_CLASSHIS
		where 
			CLASSHIS_ID = #{CLASSHIS_ID}
	</delete>
	
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update  STU_CLASSHIS
			set 
				CLASS_NAME = #{CLASS_NAME},
				DESCRIPTION = #{DESCRIPTION},
				TUITION = #{TUITION},
			CLASSHIS_ID = CLASSHIS_ID
			where 
				CLASSHIS_ID = #{CLASSHIS_ID}
	</update>
	
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
			CLASS_NAME,	
			DESCRIPTION,	
			TUITION,	
			TEACHER_ID,	
			TEACHER_NAME,	
			CREATE_USER_ID,	
			CREATE_TIME,	
			CLASSINFO_ID,	
			PARENT_CLASSINFO_ID,	
			CLASSHIS_ID
		from 
			STU_CLASSHIS
		where 
			CLASSHIS_ID = #{CLASSHIS_ID}
	</select>
	
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
				a.CLASS_NAME,	
				a.DESCRIPTION,	
				a.TUITION,	
				a.TEACHER_ID,	
				a.TEACHER_NAME,	
				a.CREATE_USER_ID,	
				a.CREATE_TIME,	
				a.CLASSINFO_ID,	
				a.PARENT_CLASSINFO_ID,	
				a.CLASSHIS_ID
		from 
				STU_CLASSHIS a
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
				a.CLASS_NAME,	
				a.DESCRIPTION,	
				a.TUITION,	
				a.TEACHER_ID,	
				a.TEACHER_NAME,	
				a.CREATE_USER_ID,	
				a.CREATE_TIME,	
				a.CLASSINFO_ID,	
				a.PARENT_CLASSINFO_ID,	
				a.CLASSHIS_ID
		from 
				STU_CLASSHIS a
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from STU_CLASSHIS
		where 
			CLASSHIS_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
</mapper>